*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: rgba(16, 121, 77, 0.788);
}

/***************************************/
/*************** Naviguation ***********/
/***************************************/

nav{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background: rgb(255, 123, 0);
    margin: 0px auto;
    border-bottom: 2px solid black;
}

a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

li{
    background: rgb(255, 123, 0);
    list-style: none;
    padding: 10px;
    display: inline-block;
    position: relative;
}

li:hover{
    background: rgb(192, 191, 191);
    border-top: 2px solid rgb(0, 0, 0);
    color: black;
    padding-top: 8px;
}

li.border{
    transform: translate(-10px, 10px);
}

li.border:hover{
    border-top: 0;
    padding-top: 10px;
    border-left: 2px solid rgb(0, 0, 0);
    padding-left: 8px;
}

li:hover .sub-menu{
    display: block;
    margin: 0px;
    padding: 0px;
}

.sub-menu{
    margin: 0;
    display: none;
    position: absolute;
    width: 110px;
    z-index: 1;
}

#plus{
    position: absolute;
    right: 0px;
    top: 0px;
}
/***************************************/
/*************** main ******************/
/***************************************/

h1{
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
    margin-bottom: 40px;
}

p{
    text-align: center;
    display: flex;
    margin: 20px 7.5%;
}

img{
    display: flex;
    width: 85%;
    margin: 20px auto;
    border-radius: 10px;
}




/***************************************/
/*************** the end ***************/
/***************************************/


#end{
    background: rgb(95, 95, 95);
    color: white;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'te devby';
}


#textEnd{
    grid-area: te;
}

#dev{
    grid-area: devby;
}




/***************************************/
/************** > Debug ****************/
/***************************************/


@media screen and (max-width: 525px) {
    #plus{
        position: relative;
    }
}

@media screen and (max-width: 508px) {
    h1{
        margin-top: 160px;
    }
}

@media screen and (max-width: 291px) {
    *{
        display: none;
    }
}



/***************************************/
/************** exemple ****************/
/***************************************/
