/************* grid page **************/

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'img form';
}



img{
    grid-area: img;
}

#jsp{
    font-size: 1.5rem;
}


/************* grid formulaire **************/
/* 

form{
    grid-area: form;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'i1 i2'
        'ta ta'
        'bt bt';
}



input, textarea{
    margin: 5px;
    height: 100px;
    padding: 5px;
    resize: none;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid blue;
    color: gray;
}


input:hover, textarea:hover{
    border: 2px solid purple;
}


input:focus, textarea:focus{
    border: 2px solid red;
}

/************* grid stettings **************



#name{
    grid-area: i1;
    height: 50px;
}

#surname{
    grid-area: i2;
    height: 50px;
}

textarea{
    grid-area: ta;
}
input[type="submit"] {
    grid-area: bt;
    cursor: pointer;
} */